

.backgroundDesign {
    height: 100%;
    width: 100%;
    background-image: url('https://i.postimg.cc/9fydfHKn/logo3.png');
    /* background-color : grey; */
    background-repeat: repeat;
    opacity: 0.8;
    z-index : 0;
}