.boxSize {
    width : 279px;
    height : 200px;
    margin: 20px 55px 20px 55px;
    border: solid 2px rgb(216, 207, 207);
    border-radius: 16px;
    background-color: white;
}

.boxSize:hover {
    box-shadow: 4px 20px 16px 4px #7d7d7df2;
    transition: box-shadow 400ms linear;
}

.rowPattern {
    display: flex;
    /* align-items: center; */
    width: 91%;
}

.rowPattern h3 {
    overflow-y:hidden;
    overflow-x: auto;
    color: rgb(75, 75, 75);
}


.columnPattern {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.FileIcon {
    color:#8195c5;
    size:30px;
    font-size: 8.5rem !important;
}

.IconBox {
    margin-left:34px;
}

.MoreVerticalIcon {
    size : 30px !important;
    font-size: 2.0rem !important;
    margin-right: -23px;
    margin-left: 46px;
}