@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.container {
    display:flex;
    padding: 0px 3px 15px 0px;
    padding-top: 25px;
    padding-bottom: 30px;
    
}

.ProfileButton {
   font-size:3rem !important;
   color: #90a8e6;

}

.container:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    /* border:solid 1px rgb(187, 183, 183); */
    background-color: rgba(21, 27, 34, 0.534);
    transition: background-color 500ms linear;
    opacity: 1  ;
    
}




.userName {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding:5px;
    color: #ece3e3;
}